<!DOCTYPE html>
<html ng-app="ezMenu">
    <head>
        <title>ezMenu - 404</title>
        <link rel="shortcut icon" type="image/png" href="icon/favicon.png"/>
    </head>
    <body ng-controller="addDeviceCtrl">
        <div ng-cloak>
            <md-content>
                <md-toolbar class="md-hue-2">
                    <div style="padding-right:30px" class="md-toolbar-tools"> 
                        <h2 flex md-truncate><a href="http://ezmenu.vpsgh.it/">ezMenu</a></h2>
                    </div>
                </md-toolbar>
                    <md-card style="position: fixed; transition: all 1s linear;height: 87%; width: 99%">
                        <md-card-title>404</md-card-title>
                        <!-- <div style="padding-left:13px; > -->   
                        <md-card-content style="padding-bottom: 750px">
                            <p>{{ "404ERROR" | translate }}</p>
                            <md-button class="md-primary md-raised" ng-click="history.back();">Go back</md-button>
                        </md-card-content>
                        <!-- </div> -->
                        <br>
                    </md-card>
            </md-content>         
        </div>
    </body>
    <footer style="position: fixed" class="footer" ng-controller="footerCtrl">
        <hr>
        <center>
            {{ "LANGUAGES" | translate }}: <a id="en" ng-click="setEnglish()" style="cursor:pointer; cursor: hand">English</a>&nbsp;<a href"a" ng-click="setItalian()" style="cursor:pointer">Italian</a>
        </center>
    </footer>
    <script src="http://ezmenu.vpsgh.it/bower_components/angular/angular.min.js"></script>
	<script src="http://ezmenu.vpsgh.it/bower_components/angular-material/angular-material.min.js"></script>
	<link rel="stylesheet" href="http://ezmenu.vpsgh.it/bower_components/angular-material/angular-material.min.css">
    <script src="http://ezmenu.vpsgh.it/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="http://ezmenu.vpsgh.it/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="http://ezmenu.vpsgh.it/bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="http://ezmenu.vpsgh.it/bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="http://ezmenu.vpsgh.it/bower_components/ng-file-upload/ng-file-upload-all.min.js"></script> 
    <script src="http://ezmenu.vpsgh.it/demo/controller/app.js"></script>
    <script src="http://ezmenu.vpsgh.it/demo/controller/addDeviceCtrl.js"></script>
    <script src="http://ezmenu.vpsgh.it/demo/controller/footerCtrl.js"></script>
    <link rel="stylesheet" href="http://ezmenu.vpsgh.it/index.css">
</html>