<!DOCTYPE html>
<html ng-app="ezMenu">
    <head>
        <title>ezMenu</title>
        <link rel="shortcut icon" type="image/png" href="../icon/favicon.png"/>
    </head>
    <body ng-controller="addProductCtrl">
        <div ng-cloak>
            <md-content>
                <md-toolbar class="md-hue-2">
                    <div style="padding-right:30px" class="md-toolbar-tools">
                        <h2 flex md-truncate><a href="index.html">ezMenu</a></h2>
                    </div>
                </md-toolbar>
                <div style="position: fixed">
                    <md-sidenav style="height: 100vh" class="md-sidenav-left" md-is-locked-open="true" md-whiteframe="4">
                        <div layout="column">
                            <md-button href="device_list.html" translate="DEVICELIST"></md-button>
                            <md-button href="add_device.html" translate="ADDDEVICE"></md-button>
                            <md-button href="edit_device.html" translate="EDITDEVICE"></md-button>
                            <md-button href="delete_device.html" translate="DELETEDEVICE"></md-button>
                            <md-button href="product_list.html" translate="PRODUCTLIST"></md-button>
                            <md-button disabled translate="ADDPRODUCT"></md-button>
                            <md-button href="edit_product.html" translate="EDITPRODUCT"></md-button>
                            <md-button href="delete_product.html" translate="DELETEPRODUCT"></md-button>
                            <md-input-container ng-controller="languageSelectorCtrl" style="padding-left: 20px; padding-right: 20px" >
                                <md-select ng-model="selectLanguage" ng-change="languageSelected(this)">
                                    <md-option ng-selected="true" value="1">
                                        {{ "LANGUAGE" | translate }}: {{ "ITALIAN" | translate }}
                                    </md-option>
                                    <md-option value="2">
                                        {{ "LANGUAGE" | translate }}: {{ "English" | translate }}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </md-sidenav>       
                </div>
                <div style="padding-left: 323px">
                    <md-card>
                        <md-card-title translate="ADDPRODUCT"></md-card-title>
                        <div style="padding-left:13px; padding-right:800px" name="form">
                            <md-input-container>
                                <label for translate="PRODUCTNAME"></label>
                                <input ng-model="product_name" maxlength="30" type="text">
                            </md-input-container>
                            <br>
                            <md-input-container>
                                <label translate="PRODUCTPRICE"></label>
                                <input ng-model="product_price" type="number" min="0">
                            </md-input-container>
                            <br>
                            <!-- https://github.com/angular/material/issues/3310#issuecomment-229329565 -->
                            <label style="padding-left: 10px" for="file" translate="SELECTFILE"></label>
                            <br>
                            <md-input-container>
                                <md-button id="file" class='md-raised md-primary' ngf-select="showFileName()" ng-model="product_image" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-resize="{width: 300, height: 300}">
                                    {{ "SELECT" | translate }}
                                </md-button> 
                                {{ fileName }}
                            </md-input-container>
                            <br>
                            <md-button class='md-raised md-primary' ng-click="submit()" translate="SEND"></md-button>
                        </div>
                        <br>
                    </md-card>
                </div>
            </md-content>
        </div>
    </body>
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
	<script src="../bower_components/angular-material/angular-material.min.js"></script>
	<link rel="stylesheet" href="..//bower_components/angular-material/angular-material.min.css">
    <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="../bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="../bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="../bower_components/ng-file-upload/ng-file-upload-all.min.js"></script> 
    <script src="controller/app.js"></script>
    <script src="controller/addProductCtrl.js"></script>
    <script src="controller/languageSelectorCtrl.js"></script>
    <link rel="stylesheet" href="../index.css">
</html>