<!DOCTYPE html>
<html ng-app="ezMenu">
    <head>
        <title>ezMenu</title>
    </head>
    <body ng-controller="deleteProductCtrl">
        <div ng-cloak>
            <md-content>
                <md-toolbar class="md-hue-2">
                    <div style="padding-right:30px" class="md-toolbar-tools">
                        <h2 flex md-truncate><a href="index.html">ezMenu</a></h2>
                    </div>
                </md-toolbar>
                <div style="position: fixed">
                    <md-sidenav style="height: 100vh" class="md-sidenav-left" md-is-locked-open="true" md-whiteframe="4">
                        <div layout="column">
                                <md-button href="device_list.html" translate="DEVICELIST"></md-button>
                                <md-button href="add_device.html" translate="ADDDEVICE"></md-button>
                                <md-button href="edit_device.html" translate="EDITDEVICE"></md-button>
                                <md-button href="delete_device.html" translate="DELETEDEVICE"></md-button>
                                <md-button href="product_list.html" translate="PRODUCTLIST"></md-button>
                                <md-button href="add_product.html" translate="ADDPRODUCT"></md-button>
                                <md-button href="edit_product.html" translate="EDITPRODUCT"></md-button>
                                <md-button disabled translate="DELETEPRODUCT"></md-button>
                        </div>
                    </md-sidenav>       
                </div>
                <div style="padding-left: 323px">
                    <md-card>
                        <md-card-title translate="DELETEPRODUCT"></md-card-title>
                        <div style="padding-left:13px; padding-right:1200px" name="form">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label translate="PRODUCTLIST"></label>
                                <md-select ng-model="selectProduct" ng-change="productSelected(this)">
                                    <md-option ng-repeat="product in products" value="{{product.name}}">
                                        {{product.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <br>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label translate="PRODUCTNAME"></label>
                                <input disabled ng-model="product_name" maxlength="20" type="text">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label translate="PRODUCTPRICE"></label>
                                <input disabled ng-model="product_price" type="number" min="0">
                            </md-input-container>
                            <img id="productImage">
                            <br>
                            <!-- <div id="qrcode" style="width:100px; height:100px; margin-top:15px;"></div> -->
                            <md-button class='md-raised md-primary' ng-click="deleteProduct()" translate="SEND"></md-button>
                        </div>
                        <br>
                    </md-card>
                </div>
            </md-content>
            <div style="visibility: hidden">
                <div class="md-dialog-container" id="dialog">
                  <md-dialog  layout-padding>
                    <h2>QR</h2>
                    <div style="width: 300px; padding-left: 10px; padding-right: 10px" translate="QRCODEINSTRUCTIONS"></div>
                    <div id="qrcode" style="width:300px; height:300px; margin-top:15px;"></div>
                  </md-dialog>
                </div>
              </div>            
        </div>
    </body>
    <footer style="position: fixed" class="footer" ng-controller="footerCtrl">
        <hr>
        <center>
            {{ "LANGUAGES" | translate }}: <a id="en" ng-click="setEnglish()" style="cursor:pointer; cursor: hand">English</a>&nbsp;<a href"a" ng-click="setItalian()" style="cursor:pointer">Italian</a>
        </center>
    </footer>
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="libraries/qrcode.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
	<script src="../bower_components/angular-material/angular-material.min.js"></script>
	<link rel="stylesheet" href="..//bower_components/angular-material/angular-material.min.css">
    <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="../bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="../bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="../bower_components/ng-file-upload/ng-file-upload-all.min.js"></script> 
    <script src="controller/app.js"></script>
    <script src="controller/deleteProductCtrl.js"></script>
    <script src="controller/footerCtrl.js"></script>
    <link rel="stylesheet" href="../index.css">
</html>