<!DOCTYPE html>
<html ng-app="ezMenu">
    <head>
        <title>ezMenu</title>
        <link rel="shortcut icon" type="image/png" href="../icon/favicon.png"/>
    </head>
    <body ng-controller="deleteDeviceCtrl">
        <div ng-cloak>
            <md-content>
                <md-toolbar class="md-hue-2">
                    <div style="padding-right:30px" class="md-toolbar-tools">
                        <h2 flex md-truncate><a href="index.html">ezMenu</a></h2>
                    </div>
                </md-toolbar>
                <div style="position: fixed">
                    <md-sidenav style="height: 100vh" class="md-sidenav-left" md-is-locked-open="true" md-whiteframe="4">
                        <div layout="column">
                            <md-button href="device_list.html" translate="DEVICELIST"></md-button>
                            <md-button href="add_device.html" translate="ADDDEVICE"></md-button>
                            <md-button href="edit_device.html" translate="EDITDEVICE"></md-button>
                            <md-button disabled translate="DELETEDEVICE"></md-button>
                            <md-button href="product_list.html" translate="PRODUCTLIST"></md-button>
                            <md-button href="add_product.html" translate="ADDPRODUCT"></md-button>
                            <md-button href="edit_product.html" translate="EDITPRODUCT"></md-button>
                            <md-button href="delete_devices.html" translate="DELETEPRODUCT"></md-button>
                            <md-input-container ng-controller="languageSelectorCtrl" style="padding-left: 20px; padding-right: 20px" >
                                <md-select ng-model="selectLanguage" ng-change="languageSelected(this)">
                                    <md-option ng-selected="true" value="1">
                                        {{ "LANGUAGE" | translate }}: {{ "ITALIAN" | translate }}
                                    </md-option>
                                    <md-option value="2">
                                        {{ "LANGUAGE" | translate }}: {{ "English" | translate }}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </md-sidenav>       
                </div>
                <div style="padding-left: 323px">
                    <md-card>
                        <md-card-title translate="DELETEDEVICE"></md-card-title>
                        <div style="padding-left:13px; padding-right: 75%" name="form">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label translate="DEVICELIST"></label>
                                <md-select ng-model="selectDevice" ng-change="deviceSelected()">
                                    <md-option ng-repeat="device in devices" value="{{device.name}}">
                                        {{device.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <br>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label translate="DEVICETABLE"></label>
                                <input disabled ng-model="table_n" type="number" min="0">
                            </md-input-container>
                            <img id="productImage">
                            <br>
                            <!-- <div id="qrcode" style="width:100px; height:100px; margin-top:15px;"></div> -->
                            <md-button class='md-raised md-primary' ng-click="deleteDevice()" translate="SEND"></md-button>
                        </div>
                        <br>
                    </md-card>
                </div>
            </md-content>
            <div style="visibility: hidden">
                <div class="md-dialog-container" id="dialog">
                  <md-dialog  layout-padding>
                    <h2>QR</h2>
                    <div style="width: 300px; padding-left: 10px; padding-right: 10px" translate="QRCODEINSTRUCTIONS"></div>
                    <div id="qrcode" style="width:300px; height:300px; margin-top:15px;"></div>
                  </md-dialog>
                </div>
              </div>            
        </div>
    </body>
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="libraries/qrcode.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
	<script src="../bower_components/angular-material/angular-material.min.js"></script>
	<link rel="stylesheet" href="..//bower_components/angular-material/angular-material.min.css">
    <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="../bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="../bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="../bower_components/ng-file-upload/ng-file-upload-all.min.js"></script> 
    <script src="controller/app.js"></script>
    <script src="controller/deleteDeviceCtrl.js"></script>
    <script src="controller/languageSelectorCtrl.js"></script>
    <link rel="stylesheet" href="../index.css">
</html>